In [72]:
data = pd.read_csv("invoices.csv")

print(data)

         Date     Client         Project  Amount ($)  Hours Worked
0  2025-03-01  Acme Inc.  Website Revamp        1200            20
1  2025-03-05     Globex    Data Cleanup         900            15
2  2025-03-10  Acme Inc.      Bug Fixing         300             5
3  2025-04-01   Umbrella    Consultation         400             4

In [90]:
data.rename(columns=lambda x: x.strip(), inplace=True)
data

        Date     Client         Project  Amount ($)  Hours Worked  Hourly Rate
0 2025-03-01  Acme Inc.  Website Revamp        1200            20         60.0
1 2025-03-05     Globex    Data Cleanup         900            15         60.0
2 2025-03-10  Acme Inc.      Bug Fixing         300             5         60.0
3 2025-04-01   Umbrella    Consultation         400             4        100.0

In [108]:
import pandas as pd


data = pd.read_csv("invoices.csv")

# Transform the entire Date column type to a type of: datetime
data['Date'] = pd.to_datetime(data['Date'])

# Transform the Amount and Hours Worked column into a numberic type
data['Amount ($)'] = pd.to_numeric(data['Amount ($)'])
data['Hours Worked'] = pd.to_numeric(data['Hours Worked'])

# Add a new column to the end of the data
data['Hourly Rate'] = data['Amount ($)'] / data['Hours Worked']

#Remove any missing data
data.dropna(inplace=True)

#Generate usefull information

summary = data.groupby("Client").agg({
    "Amount ($)": "sum",
    "Hours Worked": "sum",
    "Hourly Rate": "mean"
}).rename({
    "Amount ($)": 'Total Amount',
    "Hours Worked": "Total Hours",
    "Hourly Rate": "Avg Rate"
})

summary

           Amount ($)  Hours Worked  Hourly Rate
Client
Acme Inc.        1500            25         60.0
Globex            900            15         60.0
Umbrella          400             4        100.0

In [109]:
data.to_csv('cleaned_invoices.csv', index=False)
summary.to_csv('summary.csv')